/2007.aux
/2008.aux
/2009.aux
/2010.aux
/2011.aux
/2012.aux
/auto/2007.el
/auto/2008.el
/auto/2009.el
/auto/2010.el
/auto/2011.el
/auto/2012.el
/auto/introduccion.el
/auto/libro.el
/auto/macrosohm.el
/introduccion.aux
/libro.aux
/libro.log
/libro.synctex.gz
/libro.toc
/2009.log

